<div id="<%= dom_id subscription %>">
  <p>
    <strong>Forum:</strong>
    <%= subscription.forum.forum_name %>
  </p>
  <p>
    <strong>Priority:</strong>
    <%= subscription.priority %>
  </p>

</div>
